<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <style>
      <%= compilation.assets['style.css'].source() %>
    </style>
  </head>
  <body>
    <div class="superhero-button-container superhero-button-small">
      <div class="superher-button-link-holder">
        <a id="superhero-tip-link" class="superhero-button-link" target="_blank">
          <img src="../img/v1-icon.png" />
          <span>Donate</span>
        </a>
      </div>
      <div class="superhero-button-tips-amount"><span id="tips">0</span><span class="ae">AE</span></div>
    </div>
    <script>
      <%= compilation.assets['index.js'].source() %>
    </script>
  </body>
</html>