@use '../variables';

.superhero-utils-button {
  display: inline-flex;
  font-family: variables.$font-family;

  a {
    background: variables.$background-color;
    color: #fff;
    border-radius: variables.$border-radius;
    font-weight: 700;
    text-decoration: none;

    img {
      height: 22px;
    }

    span {
      margin-left: 4px;
    }

    img,
    span {
      vertical-align: middle;
    }
  }

  .tips-amount {
    position: relative;
    border: variables.$border;
    border-radius: variables.$border-radius;
    background-color: #fff;
    color: black;

    .ae {
      color: variables.$accent-color;
    }

    &:after {
      content: '';
      position: absolute;
      background: #fff;
    }
  }

  &.icon a {
    width: 40px;
    padding: 9px 0;
    text-align: center;
  }

  &.small,
  &.medium {
    .tips-amount {
      margin-left: 15px;

      &:after {
        left: -6px;
        top: 50%;
        width: 9px;
        height: 9px;
        border-left: variables.$border;
        border-top: variables.$border;
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  &.small {
    font-size: 13px;

    a {
      padding: 0 13px 0 8px;
      height: 34px;
      line-height: 34px;

      img {
        height: 14px;
      }
    }

    .tips-amount {
      padding: 0 5px;
      line-height: 32px;
    }
  }

  &.medium,
  &.large {
    a {
      padding: 0 16px 0 13px;
      font-size: 15px;
      line-height: 40px;
      height: 40px;
    }
  }

  &.medium .tips-amount {
    padding: 0 10px;
    font-size: 15px;
    line-height: 38px;
  }

  &.large {
    flex-direction: column;
    text-align: center;

    .tips-amount {
      margin-bottom: 14px;
      font-size: 32px;
      line-height: 60px;

      &:after {
        bottom: -7.2px;
        left: 50%;
        width: 12px;
        height: 12px;
        border-left: variables.$border;
        border-bottom: variables.$border;
        transform: translateX(-50%) rotate(-45deg);
        -webkit-transform: translateX(-50%) rotate(-45deg);
        -ms-transform: translateX(-50%) rotate(-45deg);
      }
    }
  }
}
